.formRow {
    display: flex;
    margin: auto;
}

.left_child {
   flex: 0 0 48%; /*Hack to center allign*/
   margin: auto;
}
.heading-field{
 	 display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}
ul.dropdown-content.select-dropdown li span {
    color: #64b5f6; /* blue lighten 2 */
}
/*input[type=Time]:focus{
    border-bottom: 1px solid red;
} */

.picker__date-display {
  background-color:#42a5f5; /*blue-lighten 1 */
}
.picker__weekday-display {
  background-color:#42a5f5;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color:#42a5f5;
}