.page_container {
    height: 100%;
}

.loginPage_container {
    background-image: url("../../Background.png");
    background-repeat: repeat-x;
}

.loginPage_container.App-logo {
    margin-top: 20px;
    height: 80px;
}

.signupPage_container {
    background-image: url("../../Background.png");
    background-repeat: repeat-x;
}

.signupPage_container.App-logo {
    margin-top: 20px;
    height: 80px;
}
