#dummy {
    margin-top: 800px;
}

.electionsArchivePage_container > .page_contents > .card-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    padding: 0;
}

.electionsArchivePage_container .collection .collection-item {
    padding: 20px 20px;
}

.electionsArchivePage_container .collection .collection-item.avatar {
    line-height: 42px;
    cursor: pointer;
    padding-left: 72px;
}

.electionsArchivePage_container .collection .collection-item.avatar:hover {
    background-color: #e3f2fd; 
}

.electionsArchivePage_container .collection a.collection-item {
    color: black; 

}

.electionsArchivePage_container .collection .collection-item.avatar i.circle {
    margin-left: 0;
    background-color: transparent;
} 
