.newpost_container {

	min-height: 100px;
    height: 60px;
    margin: 10px;
    position: relative;
}

.card-image {
	width:70px;
	height:70px;
	padding: 5px;
	display: inline-block;
}

#profile-image {
	border-radius: 50%;
	height: 55px;
	width: 55px;
}
.post-content {
	display: inline-block;
}

.Post-button{

	width: 10px;
	height: 10px;
	display: inline-block;
	position: absolute;
	margin-top: 90px;
}

#post-btn {

	bottom: 0;
	right: 0;
	float: right;
	margin-right: 10px; 

}

#camera {
	margin-left: 295px; 
	width: 5px;
	height:5px;
	margin-top: 18px;
	
}

#file-input {
  	width:1px;
  	height:1px;
  	position:absolute;
  	margin-left: 300px; 
  /*	margin-top: 5px;*/
  	visibility: hidden;
}

.material-icons {
	margin-left: 295px; 
	width: 10px;
	height:10px;
	
}



textarea {
	border: solid 5px #e0e0e0;
	resize: none;
	font-size: 25px;
	width: 650px;
	height: 80px;
}
