.newpost_container {

    min-height: 30px;
    margin: 10px;
}
.uibutton-group	{

	bottom: 0;
	right: 0;
	position:relative;
	/*float: left;*/
}
.btn {

	/*position: absolute;
	right:50px;*/
	bottom: 0;
	right: 0;
	float:right;

}
.image-upload {
  	width:0;
  	height:0;
  	position:absolute;
  	visibility: hidden;
  	/*bottom: 0;*/
	/*right: 0;*/
	/*position: absolute;*/
}
.material-icons {

	bottom: 0;
	right: 0;
	position: absolute;
}
.new_text {

	min-height: 30px;
    margin: 10px;
    position:relative;

}
textarea {
	border: solid 5px #e0e0e0;

}