.CandidateApp_container {

	min-height: 500px;
    height: 60px;
    margin: 10px;
    position: relative;
}

#detail-1 {
	margin: 10px;

}
#detail-2 {
	margin: 10px;

}
#download {
	display: flex; 
	justify-content: center; 

}
#fileselect {
	margin-top: 100px;
	display: flex; 
	justify-content: center; 
	margin-right: 10px;
}
#fileupload {
	margin-left: 25px;

}
#submitform {
	margin-top: 40px;
	display: flex; 
	justify-content: center; 
	margin-right: 30px;
}
#fileupload {
	width:200px;
	height:20px;
	/*position:absolute;*/
	/*visibility: hidden;*/
}
	

em {
  font-family: 'EB Garamond', serif;
  font-size: 0.5em;
  text-transform: uppercase;
  display: block;
  font-style:normal;
  text-align: center;
  }