.CandidateApp_container {

	min-height: 500px;
    height: 60px;
    margin: 10px;
    position: relative;
}

#detail-1 {
	margin: 10px;

}
#detail-2 {
	margin: 10px;

}
#download {
	display: flex; 
	justify-content: center; 

}
#fileselect {
	margin-top: 100px;
	display: flex; 
	justify-content: center; 
	margin-right: 10px;
}
#fileupload {
	margin-left: 25px;
	width:200px;
	height:20px;

}

.upload-btn {
  position: relative;
  overflow: hidden;
  /*display: inline-block;*/
  margin-left: 298px;
  margin-top: 80px;


}

.btn1 {
  border: 2px solid powderblue;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#submitform {
	margin-top: 30px;
	display: flex; 
	justify-content: center; 
	margin-right: 30px;
}

em {
  font-family: 'EB Garamond', serif;
  font-size: 0.5em;
  text-transform: uppercase;
  display: block;
  font-style:normal;
  text-align: center;
  }

