.newcomment_container {
    padding: 10px;
    position: relative;
}
.comment-content {
	width:680px;
	padding: 5px;
	display: inline-block;
}
.card-image {
	width:40px;
	height:40px;
	padding: 5px;
	display: inline-block;
}
.edit-post{
	display: inline-block;
	margin-top: 14px;
	position: absolute;
	/*padding: 5px;*/

}

.camera-icon{
	padding: 5px;
	/*margin-right: 10px;*/
	position: absolute;
	margin-bottom: 22px;
	bottom: 0;
	right: 5px;
}

.image-upload {
    width:4px;
    height:10px;
    /*margin-right: 3px;*/
    visibility: hidden;
}