.newcomment_container {
    padding: 10px;
    position: relative;
}

.card-image-comment {
	width:60px;
	height:10px;
	padding: 5px;
	display: inline-block;
	margin-top: 50px;
}

#profile-image-comment {
	border-radius: 50%;
	height: 45px;
	width: 45px;

}

.comment-content {
	width:500px;
	height: 50px;
	padding: 5px;
	display: inline-block;
}

#new_comment {
	resize: none;
	border-radius: 12px;
	border: solid 5px #e0e0e0;
	font-size: 15px;
	width: 650px;
	height: 40px;
}

#new_comment:focus {
	outline: none;
}


.camera-icon{
	padding: 5px;
	position: absolute;
	margin-bottom: 15px;
	bottom: 0;
	right: 52px;
}

#image-upload {
    width:4px;
    height:10px;
    visibility: hidden;
}

