.CandidatesEntry{
	color:black;
	text-align: left;
	font-size: 1.25em;
	line-height: 50px;
	margin-bottom: 30px;
}

.CandidatesList_container .collection .collection-item.avatar i.circle {
    margin-left: 0;
} 
.CandidatesList_container .collection .collection-item {
    padding: 20px 20px;
}

.CandidatesList_container .collection .collection-item.avatar {
    line-height: 42px;
    padding-left: 72px;
}
.CandidatesList_container .collection .collection-item.avatar:hover {
    background-color: #e3f2fd; 
}