.form-page__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form-page__form-wrapper {
    width: inherit;
}

.form__field-wrapper {
    width: 100%;
    position: relative;
    padding-top: 1.75em;
    /*border-top: 1px solid #bdbdbd;*/
    /*border-bottom: 1px solid #bdbdbd;*/
    background-color: #fff;
    padding-right: 20px;
    padding-top: 35px;
    padding-left: 10px;
}

.form__field-wrapper + .form__field-wrapper {
    border-top: none;
}

.form__field-input:focus ~ .form__field-label {
    /*color: $dark-grey;*/
    /*background-color: #bdbdbd;*/
}

.form__field-input:focus {
    background-color: #e3f2fd;
    /*color: $very-dark-grey;*/
}

.form__field-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;
    z-index: 1;
    font-size: .8em;
    color: $mid-grey;
    font-weight: 400;
    user-select: none;
    cursor: text;
}

.form__field-input {
    position: relative;
    padding: 1.625em 16px;
    width: 100%;
    border: none;
    outline: 0;
    letter-spacing: 0.05em;
    /*padding-top: 10px !important;*/
    padding-left: 10px !important;
}

.form__submit-btn-wrapper {
    padding: 2em 1em;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.loginErrMsg {
    color: #f44336; /*red*/
    font-size: 12px;
}
